/*html,
body {
  padding: 0;
  margin: 0;
  font-family: Arimo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height:100%;
}*/

#main-content {
  padding: 0;
  margin: 0;
  font-family: Arimo, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}
h1 {
  font-family: Arimo;
}
a {
  color: #f34e00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links a{
  display: flex;
  align-items: center;
}

.links a img{
  display: inline;
  margin-right: 3px;
}


.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tile {
  transition: all .3s ease-in-out;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}

.tile:hover { transform: scale(1.2); }


.recent-track{
  display: flex;
  align-items: center;
  p {
    overflow-x: visible;
    text-wrap: nowrap;
  }
}

.track-information {
  animation-play-state: running;
  animation: marquee 15s linear infinite;
}

/* The animation */
@keyframes marquee{
  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .moving-information{
      animation: marquee 15s linear infinite;
  }
}

.track-information-container {
  overflow: hidden;
}
.track-information-container{
  line-height: 0.125;
  width: 100%;
}

#genuine-pixels {
  font-size: small;
  display: flex;
  flex-direction: column;
  right: 1rem;
}

#bottom-text {
  display: flex;
  flex-direction: column;
}

#go-away {
  position: fixed;
  bottom: -5rem;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
html, body {
  height:100%;
}